// Variables
$fontSizeValue: 18;
$lineHeightValue: 24;
$lineHeight: 24px;


// Mixins
@mixin fontSize ($font: 18, $lines: 1, $weight: normal, $family: 'Roboto') {
    font-size: ($font/$fontSizeValue)+rem; /* $font % 16 */
    line-height: (($lineHeightValue*$lines)/$font)+em; /* (24*$lines) % $font */
    font-weight: $weight;
    font-family: $family;
}

// Fonts

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,900italic,900,700italic,700,500italic,500,400italic,100italic,100,300italic);

@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneue_bold.eot');
    src: url('../fonts/bebasneue_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold.woff2') format('woff2'),
         url('../fonts/bebasneue_bold.woff') format('woff'),
         url('../fonts/bebasneue_bold.ttf') format('truetype'),
         url('../fonts/bebasneue_bold.svg#bebas_neuebold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Reset styles

row {
	max-width: 100%;
}

body {
	font-family: 'Roboto';
}

h1 {
	margin-top: 0;
}

.button {
	background: none;
	color: rgba(255,255,255,.4);
	border: 1px solid rgba(255,255,255,.1);

	&:hover {
		background: none;
		color: rgba(255,255,255,1);
		border: 1px solid rgba(255,255,255,1);		
	}

	&:active, &:focus, &:visited {
		background: none;
		color: rgba(255,255,255,.4);
		border: 1px solid rgba(255,255,255,.1);
	}

}

.f-topbar-fixed {
	padding-top: 0 !important;
}

.f-topbar-fixed {
	h1 {
		padding-top: 272px; 
	}
}

// Header

.fixed {
	background: rgba(37,37,37,1);
	padding: 0 140px;
}

header {
	background: url('../img/bg-header.jpg');
	text-align: center;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
	margin-top: 0;	


	.top-bar {
		padding-top: $lineHeight;
		background: none;
		height: 80px;

		&.expanded .title-area {
			background: none;
		}

		.menu {
			line-height: 36px;
		}
	}

	.logo {
		@include fontSize(48, 2, normal, 'bebas');
		text-align: left;
		color: white;
		padding-left: $lineHeight;

		@media (min-width: 1000px) {
			padding-left: 0;
		}
	}

	nav {
		
		a {
			font-weight: 100;
			color: white;
			margin: 0 12px;

			&:hover, &:active, &:focus {
				color: white;
				text-decoration: underline;
			}
		}
	}

	h1 {
		@include fontSize(96, 4, bold, 'bebas');
		padding-top: $lineHeight*8;
		color: white;		
	}

	h2 {
		@include fontSize(30, 2, lighter, 'Roboto');
		color: #dbd165;
	}

	.header-buttons {
		padding-top: $lineHeight*3;

		a {
			margin-right: $lineHeight;
		}
	}
}

// Content

#services {
	background: white;
	height: 100%;
	color: rgba(97,106,114,1);

	h3 {
		@include fontSize(48, 2, lighter, 'Roboto');		
		padding-top: $lineHeight*5;
		padding-bottom: $lineHeight*2;
	}

	h4 {
		@include fontSize(18, 2, bold, 'Roboto');		
	}
}


#contact {
	@extend #services;
	background: #f7f9fa;
	height: 100%;
	border-top: 1px solid #e9ecf0;

}
