// Reset styles

*, html {
	margin: 0;
	padding: 0; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'open sans';
	margin: 0;	
}

row {
	max-width: 100%;
}

body {
	color: #3d464d;
	font-family: 'open sans' !important;	
	font-size: 14px;
	line-height: 26px;
}

p {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 26px;
}

.button {
	background: #fff;	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	color: #ce5c59;

	&:hover {
		background: #ce5c59;
		color: rgba(255,255,255,1);
	}

	&:active, &:focus, &:visited {
		@extend .button;
	}

}

// Navigation 

.contain-to-grid, .top-bar.expanded .title-area {
	background: #141D27;
	height: 78px;
}

.top-bar {
	background: #141D27;
	height: 78px;
	
	
	.top-bar-section ul li {
		background: none;

		> a {
			color: #FFFFFF;
			display: block;			
			font-family: "open sans", sans-serif;
			font-size: 1rem; // 14 % 14 
			line-height: 1.86; // 26 % 14
			margin-top: 26px;
			padding: 0;
			padding-left: 30px;
			width: 100%;
		}
		
		&:hover:not(.has-form) > a {
			background: none;
			background-color: none;
			color: #ce5c59;
		}
	}

	.name {
		height: 78px;
	
		h1 {
			color: #fff;
			font-family: 'bebas';
			font-size: 2.86rem; // 40 % 14 
			font-weight: bold;
			line-height: 1.95; // 26*3 % 40		
		}
	}

	.right {
		padding-bottom: 26px;
	}

	@media (min-width: 642px) {
		.right {
			padding-top: 0;
		}				
	}
}

// Header

header {
	background: #262d35 url('../img/bg-header.png');
	background-repeat: repeat;
	min-height: 390px; // 26 * 15
	text-align: center;

	@media (min-width: 642px) {
		min-height: 494px; // 26 * 19
	}

	.intro {
		padding-top: 52px; 
		
		@media (min-width: 642px) {
			padding-top: 130px; // 26 * 5
		}
	}

	h2 {
		font-size: 2.57rem; // 36 % 14 
		line-height: 1.29; // 26*2 % 40 
		font-weight: 800;
		color: #fff;
	}

	p {		
		font-size: 18px;
		line-height: 26px;
		color: #fff;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		margin: 26px 0;
		font-weight: 300;
		
		&:first-child {
			padding-top: 20px;
		}
	}
	
	.button {
		
	}

	a {
		border-width: 0 0 1px 0;
		border-style: solid;
		border-color: rgba(255,255,255,0.5);
		transition: border-color 275ms;
		text-decoration: none;
		color: #fff;

		&:hover, &:focus {
			color: #fff;
			border-color: #fff;
			transition: none;
		}

		&:visited {
			color: #fff;
		} 
	}

}

// Content

#product-mvp {
	background: white;
	min-height: 534px;

	.tabs {
		text-align: center;

		.tab-title {
			float: none;
			display: inline-block;
			border: 1px solid #E5E5E5;
			margin: 0 -3px;
			width: 33.3333%;
			border-left: 0;

			&:first-child {
				border-left: 1px solid #E5E5E5;
			}

			a {
				padding: 26px 0; 
				font-size: 14px;
			}

			&.active {
				a {
					border-bottom: 2px solid #ce5c59;
				}	
			}
			
		}
	}

	.tabs-content {
		margin-bottom: 37px;
		
		> .content {
			padding: 26px 0;
		}
	}

	h2 {
		font-size: 1.43rem; // 20 % 14 
		line-height: 26px;
		margin-top: 130px;
		margin: 26px 0;
		font-weight: 400;
		color: #3d464d;
		text-align: center;
	}

	h3 {
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		margin-top: 26px;
		color: #ce5c59;
	}

	h4 {
		font-weight: 600;
		font-size: 16px;
		color: #3d464d;
		line-height: 26px;
		margin-top: 26px;
	}

	p {
		font-size: 14px;
		color: #3d464d;
		line-height: 26px;
	}
}

#projects {
	padding-bottom: 52px;
	text-align: center;

	.row {
		.row {
			margin-top: 13px;
		} 
	}

	img {
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		margin-top: 13px;

		&:last-child {
			margin-bottom: 13px;
		}

		&.relative {
			position: relative;
		}
	}

	.label {
		position: absolute;
		top: 10px;
		right: 26px;
	}

	@media (min-width: 642px) {
		img {
			margin-top: 0;

			&:last-child {
				margin-bottom: 0;
			}
		}	
	}

	h2 {
		font-size: 1.43rem; // 20 % 14 
		line-height: 26px;
		margin-top: 130px;
		margin: 26px 0;
		font-weight: 400;
		color: #3d464d;
	}
}

#contact {
	background: #f7f9fa;
	border-top: 1px solid #e9ecf0;
	min-height: 100%;	
	padding:  26px 0 52px 0;

	h3 {
		color: #3d464d;
		font-size: 26px;
		line-height: 52px;
		margin-bottom: 26px;
	}

	label {
		line-height: 25px;
		height: 78px;
		margin-bottom: 26px;

		&.textarea {
			height: 156px;
		}

		&.attached {
			margin-bottom: 0;
		}
	}

	select {
		margin-bottom: 26px;
	}

	input:first-child {
		padding-top: 0;
	}

	input[type="text"], input[type="password"], input[type="date"],
	input[type="datetime"], input[type="datetime-local"], 
	input[type="month"], input[type="week"], input[type="email"],
	input[type="number"], input[type="search"], input[type="tel"],
	input[type="time"], input[type="url"], input[type="color"] {
		height: 52px;
		padding-top: 9px;
	}

	input[type="text"]:focus, input[type="password"]:focus, 
	input[type="date"]:focus, input[type="datetime"]:focus, 
	input[type="datetime-local"]:focus, input[type="month"]:focus, 
	input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, 
	input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, 
	input[type="url"]:focus, input[type="color"]:focus, select {
		height: 52px;
	}
}

// Hover effect for projects images

.grid {
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	margin: 0;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #141D27;
	color: #fff;
	opacity: .7;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}
// Fonts

@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebasneue_bold.eot');
    src: url('../fonts/bebasneue_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue_bold.woff2') format('woff2'),
         url('../fonts/bebasneue_bold.woff') format('woff'),
         url('../fonts/bebasneue_bold.ttf') format('truetype'),
         url('../fonts/bebasneue_bold.svg#bebas_neuebold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}